/* line 1, base.css.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 4, base.css.sass */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 9, base.css.sass */
audio:not([controls]), [hidden] {
  display: none;
}

/* line 12, base.css.sass */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
}

/* line 19, base.css.sass */
body {
  margin: 0;
  font-size: 15px;
  line-height: 1.231;
  height: 100%;
  font-family: sans-serif;
  color: #222222;
  outline: none;
}

/* line 28, base.css.sass */
button, input, select, textarea {
  font-family: sans-serif;
  color: #222222;
  outline: none;
}

/* line 33, base.css.sass */
::-moz-selection, ::selection {
  background: #faff00;
  color: black;
  text-shadow: none;
}

/* line 38, base.css.sass */
a {
  color: #0000ee;
}
/* line 40, base.css.sass */
a:visited {
  color: #551a8b;
}
/* line 42, base.css.sass */
a:hover {
  color: #0066ee;
}
/* line 44, base.css.sass */
a:focus {
  outline: thin dotted;
}
/* line 46, base.css.sass */
a:hover, a:active {
  outline: 0;
}

/* line 49, base.css.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 52, base.css.sass */
b, strong {
  font-weight: bold;
}

/* line 55, base.css.sass */
blockquote {
  margin: 1em 40px;
}

/* line 58, base.css.sass */
dfn {
  font-style: italic;
}

/* line 61, base.css.sass */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 69, base.css.sass */
ins {
  background: #ffff99;
  color: black;
  text-decoration: none;
}

/* line 74, base.css.sass */
mark {
  background: yellow;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* line 80, base.css.sass */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 85, base.css.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 90, base.css.sass */
q {
  quotes: none;
}
/* line 92, base.css.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* line 96, base.css.sass */
small {
  font-size: 85%;
}

/* line 99, base.css.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 105, base.css.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 112, base.css.sass */
sub {
  bottom: -0.25em;
}

/* line 115, base.css.sass */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 119, base.css.sass */
dd {
  margin: 0 0 0 40px;
}

/* line 123, base.css.sass */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 129, base.css.sass */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 134, base.css.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 137, base.css.sass */
figure, form {
  margin: 0;
}

/* line 140, base.css.sass */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 145, base.css.sass */
label {
  cursor: pointer;
}

/* line 148, base.css.sass */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* line 153, base.css.sass */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 159, base.css.sass */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 164, base.css.sass */
table button, table input {
  *overflow: auto;
}

/* line 167, base.css.sass */
button {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 172, base.css.sass */
input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
/* line 175, base.css.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
/* line 178, base.css.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 183, base.css.sass */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 186, base.css.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 190, base.css.sass */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 197, base.css.sass */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 200, base.css.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 204, base.css.sass */
td {
  vertical-align: top;
}

/* line 207, base.css.sass */
#wrapper {
  width: 66%;
  margin: auto;
}

/* line 211, base.css.sass */
#header > h1 {
  font-size: 200%;
}

/* line 214, base.css.sass */
h2 {
  font-size: 130%;
  font-family: sans-serif;
}

/* line 218, base.css.sass */
#content {
  margin: 12px 0;
  float: left;
}

/* line 222, base.css.sass */
#side_bar {
  margin: 12px 0;
  width: 30%;
  float: rightright;
  clear: none;
  background-color: #dddddd;
}

/* line 229, base.css.sass */
h1 {
  font-size: 150%;
}

/* line 232, base.css.sass */
#footer {
  clear: both;
  font-size: 75%;
  font-family: sans-serif;
  color: #333333;
}

/* line 238, base.css.sass */
ol {
  padding-top: 20px;
  background-color: #aaddee;
  display: block;
}

/* line 245, base.css.sass */
a {
  text-decoration: none;
  outline: none;
}

/* line 249, base.css.sass */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
/* line 258, base.css.sass */
.ir br {
  display: none;
}

/* line 261, base.css.sass */
.white {
  color: white;
}

/* line 264, base.css.sass */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 268, base.css.sass */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 278, base.css.sass */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 286, base.css.sass */
.invisible {
  visibility: hidden;
}

/* line 289, base.css.sass */
.clearfix {
  *zoom: 1;
}
/* line 290, base.css.sass */
.clearfix:before {
  content: "";
  display: table;
}
/* line 293, base.css.sass */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* ==|== print styles =======================================================
 * Print styles.
 * Inlined to avoid required HTTP connection: h5bp.com/r
 * ========================================================================== */
@media print {
  /* line 309, base.css.sass */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 315, base.css.sass */
  a {
    text-decoration: underline;
  }
  /* line 317, base.css.sass */
  a:visited {
    text-decoration: underline;
  }
  /* line 319, base.css.sass */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 321, base.css.sass */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 323, base.css.sass */
  .ir a:after {
    content: "";
  }

  /* line 326, base.css.sass */
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 328, base.css.sass */
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 331, base.css.sass */
  thead {
    display: table-header-group;
  }

  /* line 333, base.css.sass */
  tr {
    page-break-inside: avoid;
  }

  /* line 335, base.css.sass */
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 341, base.css.sass */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 344, base.css.sass */
  h2, h3 {
    page-break-after: avoid;
  }
}
@font-face {
  font-family: "FoundersGroteskCond-Reg";
  src: url("../fonts/FoundersGroteskCond-Reg.eot");
  src: url("../fonts/FoundersGroteskCond-Reg.eot#iefix") format("embedded-opentype"), url("../fonts/FoundersGroteskCond-Reg.woff") format("woff"), url("../fonts/FoundersGroteskCond-Reg.ttf") format("truetype"), url("../fonts/FoundersGroteskCond-Reg.svg#FoundersGroteskCond-Reg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FoundersGroteskCond-SmBd";
  src: url("../fonts/FoundersGroteskCond-SmBd.eot");
  src: url("../fonts/FoundersGroteskCond-SmBd.eot#iefix") format("embedded-opentype"), url("../fonts/FoundersGroteskCond-SmBd.woff") format("woff"), url("../fonts/FoundersGroteskCond-SmBd.ttf") format("truetype"), url("../fonts/FoundersGroteskCond-SmBd.svg#FoundersGroteskCond-SmBd") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "saltHeadline";
  src: url("../fonts/saltHeadline.eot");
  src: url("../fonts/saltHeadline.eot#iefix") format("embedded-opentype"), url("../fonts/saltHeadline.woff") format("woff"), url("../fonts/saltHeadline.ttf") format("truetype"), url("../fonts/saltHeadline.svg#saltHeadline") format("svg");
  font-weight: normal;
  font-style: normal;
}
