.accurev/
ASA.org/
Automation/
Database/
SSIS/
Tests/
3rdParty/Avectra/
3rdParty/ComponentSpace/
3rdParty/ComponentSpace/
3rdParty/Endeca/
3rdParty/VisualStudio/
**/bin/*
**/obj/*
**/SALT.Deploy/*
**/SALT.Doodads/*
**/WebDev/*
**/SALT.Setup/*
SOA/Scripts/
**/EDMS/AppFabricCacheTester/*
**/EDMS/AvectraEndPointTester/*
**/EDMS/CITestSolution/*
**/EDMS/SchoolListTransformer/*
**/EDMS/ViewValidator/*
**/EDMS/WebCITest/*
**/EDMS/CleanupScriptBuilder/*


# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/