@model Asa.Salt.Web.Services.Domain.Member
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Welcome To SALT, Your Financial Solutions Headquarters</title>
	<meta name="generator" content="BBEdit 10.5">
	<style type="text/css">
		body {
			margin: 0;
			padding: 0;
			background-image: url(https://www.saltmoney.org/Assets/images/emails/welcome/ftr/bg.jpg);
		}
		table {
			margin-bottom: 0;
			margin-top: 0;
			width: 574px;
		}
		tr { width: 574px; }
		td {
			margin: 0;
			padding: 0;
		}
		img {
			text-align: center;
			/* margin: 0 auto; */
			border: 0;
		}
		p {
			margin: 29px 0 16px 0;
			line-height: 1.5em;
			font-size: 16px;
			font-weight: normal;
			font-family: Helvetica, Arial, sans-serif;
			color: #8c8989;
		}
		a {
			font-family: Helvetica, Arial, sans-serif;
			text-decoration: none;
			color: #989899;
		}
		
		/*td.logo { padding: 11px 80px 0 0; }
		td.logo img { display: inline; }
		td.problem { padding: 23px 0; }
		td.problem img {
			display: inline-block;
			margin: 0 auto 0 17px;
		} */
		/* table.header td { padding-top: 10px; } */
		td.headerwrapper { padding-bottom: 15px; }
		table.header td.logo a { display: block; }
		td.trouble {
			font-size: 15px;
			font-weight: normal;
			font-family: Helvetica, Arial, sans-serif;
			color: #8c8989;
		}
		td.trouble a { text-decoration: underline; }
		td.welcome {
			text-align: center;
			padding: 30px 0 25px 0;
		}
		td.centerbutton { text-align: center; }
		td.dots { padding: 19px 0 0 0; }
		td.bodytext p { padding: 0 10px; }
		td.problem {
			padding-top: 15px;
			text-align: center;
		}
		table.trio { padding: 11px 0 42px 0; }
		table.trio td { text-align: center; }
		table.trio tr.solvenow td { padding-top: 15px; } 
		table.social td { padding-top: 21px; }
		table.social a { display: inline-block; }
		table.social img{ display: inline; }
		table.social td { text-align: center; }
		table.footer p {
			margin-top: 15px;
			font-size: 12px;
			padding: 0 10px;
		}
	</style>
</head>
<body style="margin: 0;padding: 0;background-image: url(https://www.saltmoney.org/Assets/images/emails/welcome/ftr/bg.jpg);">
	<table cellspacing="0" cellpadding="0" border="0" style="width: 100%;margin-bottom: 0;margin-top: 0;">
		<tr style="width: 574px;">
			<td class="headerwrapper" width="100%" style="margin: 0;padding: 0;padding-bottom: 15px;">
				<table cellspacing="0" cellpadding="0" border="0" class="header" align="center" style="margin-bottom: 0;margin-top: 0;width: 574px;">
					<tr style="width: 574px;">
						<td colspan="2" width="574" height="13" style="margin: 0;padding: 0;"></td>
					</tr>
					<tr style="width: 574px;">
						<td class="logo" width="89" height="32" valign="bottom" align="left" style="margin: 0;padding: 0;">
						  <a href="https://www.saltmoney.org/index.html?WT.mc_id=P3_Welcome_Email" title="SALT" style="font-family: Helvetica, Arial, sans-serif;text-decoration: none;color: #989899;display: block;"><img src="https://www.saltmoney.org/Assets/images/emails/welcome/ftr/logo.jpg" width="89" height="35" alt="SALT" style="text-align: center;border: 0;"></a>
						</td>
						<!-- <td class="trouble" width="485" height="32" valign="middle" align="right">
							Having trouble viewing this email? <a href="#" title="Click here">Click here</a>.
						</td> -->
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<table align="center" class="wrapper" cellspacing="0" cellpadding="0" border="0" style="margin-bottom: 0;margin-top: 0;width: 574px;">
		<tr style="width: 574px;">
			<td valign="top" style="margin: 0;padding: 0;">
				<table cellspacing="0" cellpadding="0" border="0" style="margin-bottom: 0;margin-top: 0;width: 574px;">
					<tr style="width: 574px;">
						<td class="welcome" width="542" height="77" valign="top" style="margin: 0;padding: 30px 0 25px 0;text-align: center;">
						  <a href="https://www.saltmoney.org/index.html?WT.mc_id=P3_Welcome_Email" title="Welcome To Salt It&rsquo;s Time To Start Solving Your Financial #20somethingproblems" style="font-family: Helvetica, Arial, sans-serif;text-decoration: none;color: #989899;"><img src="https://www.saltmoney.org/Assets/images/emails/welcome/ftr/welcome.png" width="542" height="77" alt="Welcome To Salt It&rsquo;s Time To Start Solving Your Financial #20somethingproblems" style="text-align: center;border: 0;"></a>
						</td>
					</tr>
				</table>
				<table cellspacing="0" cellpadding="0" border="0" style="margin-bottom: 0;margin-top: 0;width: 574px;">
					<tr style="width: 574px;">
						<td class="centerbutton" width="531" height="43" valign="top" style="margin: 0;padding: 0;text-align: center;">
						  <a class="button" href="http://www.saltmoney.org/index.html?WT.mc_id=P3_Welcome_Email" title="Get Started Now" style="font-family: Helvetica, Arial, sans-serif;text-decoration: none;color: #989899;"><img src="https://www.saltmoney.org/Assets/images/emails/welcome/ftr/get_started_now.png" width="162" height="43" alt="Get Started Now" style="text-align: center;border: 0;"></a>
						</td>
					</tr>
				</table>
				<table cellspacing="0" cellpadding="0" border="0" style="margin-bottom: 0;margin-top: 0;width: 574px;">
					<tr style="width: 574px;">
						<td class="dots" width="574" height="3" valign="top" style="margin: 0;padding: 19px 0 0 0;">
						  <img src="https://www.saltmoney.org/Assets/images/emails/welcome/ftr/dots.png" width="574" height="3" alt="" style="text-align: center;border: 0;">
						</td>
					</tr>
				</table>
				<table cellspacing="0" cellpadding="0" border="0" style="margin-bottom: 0;margin-top: 0;width: 574px;">
					<tr style="width: 574px;">
						<td class="bodytext" width="574" height="50" valign="top" style="margin: 0;padding: 0;">
						  <p style="margin: 29px 0 16px 0;line-height: 1.5em;font-size: 16px;font-weight: normal;font-family: Helvetica, Arial, sans-serif;color: #8c8989;padding: 0 10px;">You've joined SALT, the free, solution headquarters for all your financial #20SOMETHINGPROBLEMS. By joining SALT you've unlocked all the tools and resources you need to get out of The Red and get your money life back on track.</p>
						</td>
					</tr>
				</table>
				<table cellspacing="0" cellpadding="0" border="0" style="margin-bottom: 0;margin-top: 0;width: 574px;">
					<tr style="width: 574px;">
						<td class="dots" width="574" height="3" valign="top" style="margin: 0;padding: 19px 0 0 0;">
						  <img src="https://www.saltmoney.org/Assets/images/emails/welcome/ftr/dots.png" width="574" height="3" alt="" style="text-align: center;border: 0;">
						</td>
					</tr>
				</table>
				<table cellspacing="0" cellpadding="0" border="0" style="margin-bottom: 0;margin-top: 0;width: 574px;">
					<tr style="width: 574px;">
						<td class="problem" width="539" height="30" valign="top" style="margin: 0;padding: 0;padding-top: 15px;text-align: center;">
						  <img src="https://www.saltmoney.org/Assets/images/emails/welcome/ftr/problem.jpg" width="539" height="30" alt="What problem would you like to solve today?" style="text-align: center;border: 0;">
						</td>
					</tr>
				</table>
				<table cellspacing="0" cellpadding="0" border="0" class="trio" style="margin-bottom: 0;margin-top: 0;width: 574px;padding: 11px 0 42px 0;">
					<tr style="width: 574px;">
						<td class="job" valign="top" style="margin: 0;padding: 0;text-align: center;">
						  <a class="button" href="https://www.saltmoney.org/content/tools?WT.mc_id=P3_Welcome_Email" title="" style="font-family: Helvetica, Arial, sans-serif;text-decoration: none;color: #989899;"><img src="https://www.saltmoney.org/Assets/images/emails/welcome/ftr/job.png" width="144" height="161" alt="I need a job, scholarship or internship to fund my life." style="text-align: center;border: 0;"></a>
						</td>
						<td class="loan" valign="top" style="margin: 0;padding: 0;text-align: center;">
						  <a class="button" href="https://www.saltmoney.org/content/media/Article/prudent-loans/_/R-101-2328?WT.mc_id=P3_Welcome_Email" title="" style="font-family: Helvetica, Arial, sans-serif;text-decoration: none;color: #989899;"><img src="https://www.saltmoney.org/Assets/images/emails/welcome/ftr/loan.png" width="117" height="160" alt="I don’t know what loan is best for me." style="text-align: center;border: 0;"></a>
						</td>
						<td class="pay" valign="top" style="margin: 0;padding: 0;text-align: center;">
						  <a class="button" href="https://www.saltmoney.org/Content/MoneyCoach/_/N-34?WT.mc_id=P3_Welcome_Email" title="Solve Now" style="font-family: Helvetica, Arial, sans-serif;text-decoration: none;color: #989899;"><img src="https://www.saltmoney.org/Assets/images/emails/welcome/ftr/pay.png" width="160" height="159" alt="I need to pay my student loans without going broke." style="text-align: center;border: 0;"></a>
						</td>
					</tr>
		
					<tr class="solvenow" style="width: 574px;">
						<td class="job" valign="top" style="margin: 0;padding: 0;text-align: center;padding-top: 15px;">
						  <a class="button" href="https://www.saltmoney.org/content/tools?WT.mc_id=P3_Welcome_Email" title="Solve Now" style="font-family: Helvetica, Arial, sans-serif;text-decoration: none;color: #989899;"><img src="https://www.saltmoney.org/Assets/images/emails/welcome/ftr/solve_now.png" width="81" height="32" alt="Solve Now" style="text-align: center;border: 0;"></a>
						</td>
						<td class="loan" valign="top" style="margin: 0;padding: 0;text-align: center;padding-top: 15px;">
						  <a class="button" href="https://www.saltmoney.org/content/media/Article/prudent-loans/_/R-101-2328?WT.mc_id=P3_Welcome_Email" title="Solve Now" style="font-family: Helvetica, Arial, sans-serif;text-decoration: none;color: #989899;"><img src="https://www.saltmoney.org/Assets/images/emails/welcome/ftr/solve_now.png" width="81" height="32" alt="Solve Now" style="text-align: center;border: 0;"></a>
						</td>
						<td class="pay" valign="top" style="margin: 0;padding: 0;text-align: center;padding-top: 15px;">
						  <a class="button" href="https://www.saltmoney.org/Content/MoneyCoach/_/N-34?WT.mc_id=P3_Welcome_Email" title="Solve Now" style="font-family: Helvetica, Arial, sans-serif;text-decoration: none;color: #989899;"><img src="https://www.saltmoney.org/Assets/images/emails/welcome/ftr/solve_now.png" width="81" height="32" alt="Solve Now" style="text-align: center;border: 0;"></a>
						</td>
					</tr>
		
				</table>
				<table cellspacing="0" cellpadding="0" border="0" style="margin-bottom: 0;margin-top: 0;width: 574px;">
					<tr style="width: 574px;">
						<td class="dots" width="574" height="3" valign="top" style="margin: 0;padding: 19px 0 0 0;">
						  <img src="https://www.saltmoney.org/Assets/images/emails/welcome/ftr/dots.png" width="574" height="3" alt="" style="text-align: center;border: 0;">
						</td>
					</tr>
				</table>
				<table cellspacing="0" cellpadding="0" border="0" class="social" style="margin-bottom: 0;margin-top: 0;width: 574px;">
					<tr style="width: 574px;">
						<td style="margin: 0;padding: 0;padding-top: 21px;text-align: center;">
						  <span class="connect"><img src="https://www.saltmoney.org/Assets/images/emails/welcome/ftr/connect-with-us.png" width="135" height="30" alt="Connect With Us" style="text-align: center;border: 0;display: inline;">&nbsp;</span>
						  <a href="https://twitter.com/SALT_MONEY" class="twitter" title="Twiiter" style="font-family: Helvetica, Arial, sans-serif;text-decoration: none;color: #989899;display: inline-block;"><img src="https://www.saltmoney.org/Assets/images/emails/welcome/ftr/button_twitter.png" width="30" height="30" alt="Twitter" style="text-align: center;border: 0;display: inline;"></a>
						  <a href="https://www.facebook.com/saltmoney" class="facebook" title="Facebook" style="font-family: Helvetica, Arial, sans-serif;text-decoration: none;color: #989899;display: inline-block;"><img src="https://www.saltmoney.org/Assets/images/emails/welcome/ftr/button_facebook.png" width="30" height="30" alt="Facebook" style="text-align: center;border: 0;display: inline;"></a>
						  <a href="http://blog.saltmoney.org/?WT.mc_id=P3_Welcome_Email" class="salt" title="SALT" style="font-family: Helvetica, Arial, sans-serif;text-decoration: none;color: #989899;display: inline-block;"><img src="https://www.saltmoney.org/Assets/images/emails/welcome/ftr/button_salt.png" width="30" height="30" alt="Salt" style="text-align: center;border: 0;display: inline;"></a>
						  <a href="http://www.youtube.com/getsaltmoney" class="youtube" title="YouTube" style="font-family: Helvetica, Arial, sans-serif;text-decoration: none;color: #989899;display: inline-block;"><img src="https://www.saltmoney.org/Assets/images/emails/welcome/ftr/button_youtube.png" width="30" height="30" alt="YouTube" style="text-align: center;border: 0;display: inline;"></a>
						</td>
					</tr>
				</table>
				<table cellspacing="0" cellpadding="0" border="0" class="footer" style="margin-bottom: 0;margin-top: 0;width: 574px;">
					<tr style="width: 574px;">
						<td width="531" height="50" valign="top" style="margin: 0;padding: 0;">
							<p style="margin: 29px 0 16px 0;line-height: 1.5em;font-size: 12px;font-weight: normal;font-family: Helvetica, Arial, sans-serif;color: #8c8989;margin-top: 15px;padding: 0 10px;">You are receiving this message because of your relationship with SALT. It is confidential and proprietary to ASA&reg; and intended as a private communication. Do not reproduce or distribute it without permission from ASA. If you are not the intended recipient, please notify ASA immediately by replying to this message, then destroy all copies of it without reading or disclosing its contents.</p>
							<p style="margin: 29px 0 16px 0;line-height: 1.5em;font-size: 12px;font-weight: normal;font-family: Helvetica, Arial, sans-serif;color: #8c8989;margin-top: 15px;padding: 0 10px;">SALT, SALT logo, American Student Assistance, ASA, American Student Assistance logo, and Think About Tomorrow are trademarks of American Student Assistance. Other marks are the property of their respective owners.</p>
							<p style="margin: 29px 0 16px 0;line-height: 1.5em;font-size: 12px;font-weight: normal;font-family: Helvetica, Arial, sans-serif;color: #8c8989;margin-top: 15px;padding: 0 10px;">American Student Assistance, 100 Cambridge Street, Suite 1600, Boston, MA 02114, USA.<br>&copy;2011-2013 American Student Assistance. All rights reserved.</p>
							<p style="margin: 29px 0 16px 0;line-height: 1.5em;font-size: 12px;font-weight: normal;font-family: Helvetica, Arial, sans-serif;color: #8c8989;margin-top: 15px;padding: 0 10px;"><a style="text-decoration: underline;font-family: Helvetica, Arial, sans-serif;color: #989899;" href="https://www.saltmoney.org/home/privacy.html?WT.mc_id=P3_Welcome_Email" title="Privacy Policy">Privacy Policy</a></p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
