<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="testing" value="true"/>
        <add key="mockObjectDirectory" value="MockObjects"/>
     
    </appSettings>
    
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
            </basicHttpBinding>
        </bindings>
        <client>
        </client>
    </system.serviceModel>
</configuration>
