<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <PermissionSet class="NamedPermissionSet"
   version="1"
   Name="CurrencyRatesFilePermissionSet"
   Description="A special permission set that grants read access to my currency rates file.">
    <IPermission class="FileIOPermission"
       version="1"
       Read="C:\CurrencyRates.xml"/>
    <IPermission class="SecurityPermission"
       version="1"
       Flags="Execution, Assertion"/>
  </PermissionSet>
  
</configuration>