<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ASADependencies" type="ASA.Web.WTF.configuration.DependencyConfigurationSection, ASA.Web.WTF"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <ASADependencies>
    <dependencies>
      <add name="saltServiceAgent" class="SALTShaker.Proxies.SaltServiceAgent, SALTShaker.Proxies"/>
      <add name="saltServiceAgentAsync" class="SALTShaker.Proxies.SaltServiceAgentAsync, SALTShaker.Proxies"/>
    </dependencies>
  </ASADependencies>
  <connectionStrings>
    <add name="ADMemberService" connectionString="LDAP://app.extranet.local/OU=Users,OU=EDMSNP,DC=app,DC=extranet,DC=local"/>
  </connectionStrings>
  <appSettings>
    <add key="ADServiceLDAPConnection" value="LDAP://app.extranet.local/OU=Users,OU=EDMSNP,DC=app,DC=extranet,DC=local"/>
    <add key="userID" value="app.extranet.local\sv_NPedmsacctcre"/>
    <add key="password" value="XeJpOWC1"/>
    <add key="NumofMemberRecordsToRetrieve" value="500"/>
    <add key="Admin" value="CN=SaltDevAdmin"/>
    <add key="OrgEditor" value="CN=SaltDevOrganizationEditor"/>
    <add key="MemberEditor" value="CN=SaltDevMemberEditor"/>
    <add key="Auditor" value="CN=SaltDevAuditors"/>
    <add key="endecaHost" value="dev-edmsendeca"/>
    <add key="endecaPort" value="8888"/>
    <add key="endecaDimensionValue" value=""/>
    <add key="endecaContentQuery" value="/salt-authoring/ContentList"/>
  </appSettings>
  <system.web>
    <!-- prevent session time out -->
    <httpHandlers>
      <add verb="GET,HEAD" path="SessionKeepAlive.ashx" validate="false" type="SessionRevive"/>
    </httpHandlers>
    <!-- comment out for local development -->
    <!--identity impersonate="true" password="\X?L?xU1WIeI" userName="amsa\sv_devsaltws" /-->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!-- AD STUFF -->
    <authentication mode="Windows"/>
    <authorization>
      <deny users="?"/>
    </authorization>
    <roleManager enabled="true" defaultProvider="ActiveDirectoryRoleProvider" cacheRolesInCookie="false" cookieName=".ASPXROLES" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <clear/>
        <add name="ActiveDirectoryRoleProvider" type="SALTShaker.HelperClass.ActiveDirectoryRoleProvider" connectionStringName="ldap.amsa.com" applicationName="SaltShaker"/>
      </providers>
    </roleManager>
    <membership defaultProvider="AspNetActiveDirectoryMembershipProvider">
      <providers>
        <add name="AspNetActiveDirectoryMembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ADMemberService" connectionUsername="app.extranet.local\sv_NPedmsacctcre" connectionPassword="XeJpOWC1" connectionProtection="Secure"/>
      </providers>
    </membership>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider " siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <!--END AD STUFF -->
    <!--Session State Setting-->
    <sessionState mode="InProc" cookieless="false" timeout="15"/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <!-- AD STUFF -->
  <location path="Admin.aspx">
    <system.web>
      <authorization>
        <allow roles="Admins"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Organization.aspx">
    <system.web>
      <authorization>
        <allow roles="Admins"/>
        <allow roles="OrgEditors"/>
        <allow roles="MemberEditors"/>
        <allow roles="Auditors"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Detail.aspx">
    <system.web>
      <authorization>
        <allow roles="Admins"/>
        <allow roles="OrgEditors"/>
        <allow roles="MemberEditors"/>
        <allow roles="Auditors"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Home.aspx">
    <system.web>
      <authorization>
        <allow roles="Admins"/>
        <allow roles="OrgEditors"/>
        <allow roles="MemberEditors"/>
        <allow roles="Auditors"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Index.aspx">
    <system.web>
      <authorization>
        <allow roles="Admins"/>
        <allow roles="OrgEditors"/>
        <allow roles="MemberEditors"/>
        <allow roles="Auditors"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MemberData.aspx">
    <system.web>
      <authorization>
        <allow roles="Admins"/>
        <allow roles="OrgEditors"/>
        <allow roles="MemberEditors"/>
        <allow roles="Auditors"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RegistrationSources.aspx">
    <system.web>
      <authorization>
        <allow roles="Admins"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--END AD STUFF -->
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="SaltShakerLOG.txt"/>
      <param name="AppendToFile" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="LogFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SaltServiceBehavior">
          <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="SaltServicesBindingConfiguration_ISaltService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8081/SALTService.svc/basic" behaviorConfiguration="SaltServiceBehavior" binding="basicHttpBinding" bindingConfiguration="SaltServicesBindingConfiguration_ISaltService" contract="SALTService.ISaltService" name="BasicHttpBinding_ISALTService"/>
    </client>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
            <add input="{REQUEST_URI}" pattern="^/(monitor)" negate="true"/>
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>
      </rules>
    </rewrite>
    <!-- needed to prevent session time out -->
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>