<div class="section">
	<h3>Options to reduce your revolving debt.</h3>
  <a href="#" id="update">Update graph</a>
	<input id="increase-payment" type="checkbox" class="inputStyles" tabindex="1">
	<label for="increase-payment">Increase your monthly payments</label>
	<div class="hidden-modifiers">
	 <p>Reduce the total amount you pay over time by paying an additional <input type="text" id="increase-payment-value" placeholder="$" maxlength="8" /> every month.</p>
	</div>
</div>
<div class="section">
  <input id="ignore-recurring" type="checkbox" class="inputStyles" tabindex="3">
	<label for="ignore-recurring">Pay cash for recurring expenses</label>
</div>
<div class="section">
  <input id="ignore-one-times" type="checkbox" class="inputStyles" tabindex="4">
	<label for="ignore-one-times">Pay cash for one-time purchases</label>
</div>
<div class="section">
  <input id="extra-payment" type="checkbox" class="inputStyles" tabindex="5">
	<label for="extra-payment">Plan an extra payment</label>
	<div class="hidden-modifiers">
  	<p>Putting any extra money you may have toward your credit card will help you pay it off sooner.</p>
  	<p class="pay-extra clearfix">
  	 <span class="extra-text">
      Pay an extra
  	  <input type="text" placeholder="$" id="extra-payment-value" tabindex="6" maxlength="8" />
  	   in
     </span>
  	 <select id="extra-payment-month" class="dropdown" tabindex="7">
  	   <!--dd
<option value="0" selected="selected">January</option>
  	   <option value="1">February</option> 
  	   <option value="2">March</option> 
  	   <option value="3">April</option> 
  	   <option value="4">May</option> 
  	   <option value="5">June</option> 
  	   <option value="6">July</option> 
  	   <option value="7">August</option> 
  	   <option value="8">September</option> 
  	   <option value="9">October</option> 
  	   <option value="10">November</option> 
  	   <option value="11">December</option> 
-->
  	 </select>
  	</p>
	</div>
</div>
<div class="section">
  <input id="change-interest" type="checkbox" class="inputStyles" tabindex="8">
	<label for="change-interest">Lower your interest rate</label>
	<div class="hidden-modifiers">
	 <p>Getting your credit card company to lower your interest rate will have a major impact on how much you pay over time.</p>
	 <span>Lower your rate to</span> 
   <span class="modify-interest">
      <a href="#" id="interest-less">less</a>
     <input type="text" id="modified-interest" />
     <a href="#" id="interest-more">more</a>
    </span>
	</div>
</div>



