<h2>What are your recurring expenses?</h2>
<div class="divider"></div>
<div class="description">
	<p>Tell us about any regular bills or expenses you put on your credit card. Make sure to include an estimate of the small, occasional charges for things like movie tickets or your morning latte.</p>
</div>
<div class="question">
  Each month, I use my credit card to pay for
</div>
<div id="former-expenses">
  <div class="info hidden">
      <strong>Hey Look!</strong> We've imported the expenses you entered in the cash flow lesson.
  </div>
  
  <!--
<dl>
    <dt><a href="#" class="btn-remove"></a> Expense Name<dt>
    <dd><input type="text" value="" /> / month</dd>
  </dl>
-->

  
</div> <!-- /former-expenses -->
<div id="recurring-expenses">
</div>
<!-- /recurring-expenses -->
<a class="add-another" href="#" title="Add another recurring expense">Add another recurring expense.</a>

