<div id="graph-header">
  After <span class="months"></span> months, you will have paid <strong><span class="interest"></span> in interest</strong> and you will have a <strong>balance of <span class="balance"></span></strong>.
</div>
<div id="graph" style="min-width: 400px; height: 400px; margin: -110px auto 0px auto"></div>
<div id="year-scope clearfix">
  <ul id="key">
  	<li class="principle">Principal</li>
  	<li class="interest">Interest</li>
  </ul>
  <ul id="time-scale">
 	<li><a href="#" data-years="5">5 years</a></li>
 	<li><a href="#" data-years="3">3 years</a></li>
 	<li class="selected"><a href="#" data-years="1">12 months</a></li>
 </ul>
</div>