<h2>What is your current balance?</h2>
<div class="divider"></div>
<div class="description">
	<p>Many factors can affect the cost of credit over time. Start by setting the amount you want to spend and your current interest rate.</p>
</div>
<div class="question">
	The total balance on my card is
	<input class="large value" id="current-balance" placeholder="$" type="text" maxlength="8">
	and my interest rate is
	<div class="tip-container">
		<input class="large time" id="interest-rate" maxlength="3" type="text">	
		<div class="tip">
	        <div class="wing"></div>
	        <p>Take a look at a recent credit card statement to find your interest rate.</p>
	    </div>
	    %.
	</div>
</div>