<h2>How much do you typically pay down?</h2>
<div class="divider"></div>
<div class="description">
	<p>Tell us about your typical monthly payment on your card. You may want to check your records for an accurate average.</p>
</div>
<div class="question">
	I usually pay
	<input type="text" class="large value" maxlength="8" id="cc-payment" placeholder="$" />
	toward my balance each month.
	<div class="minimum-payment">
		<input type="checkbox" id="cc-minimum-payment" /> 
		<label for="cc-minimum-payment">I frequently make the minimum payment</label> 
	</div>
</div>
