#container #main #content-container #curriculum-loans h3 {
  font: normal 22px "FoundersGroteskCond-Reg", Arial, Helvetica, sans-serif;
  color: #737070; }
#container #main #content-container #curriculum-loans .btn-remove {
  margin-top: 17px; }
