#container #main #content-container #curriculum-other h3 {
  font: normal 22px "FoundersGroteskCond-Reg", Arial, Helvetica, sans-serif;
  color: #737070;
  margin: 40px 0; }
#container #main #content-container #curriculum-other .btn-remove {
  margin-top: 17px; }
