<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <IdentityProvider Name="ASAIDP"
                    Description="ASA Identity Provider"
                    LocalCertificateFile="Certificates\idp.pfx"
                    LocalCertificatePassword="password"/>

  <PartnerServiceProviders>
    <!-- Salesforce -->
    <PartnerServiceProvider Name="https://saml.salesforce.com"
                            Description="Salesforce"
                            WantAuthnRequestSigned="false"
                            SignSAMLResponse="true"
                            SignAssertion="false"
                            EncryptAssertion="false"
                            SignatureMethod="http://www.w3.org/2000/09/xmldsig#rsa-sha1"
                            AssertionConsumerServiceUrl="https://login.salesforce.com"/>
  </PartnerServiceProviders>
</SAMLConfiguration>
