  <div class='content'>
    <h4>Loan Balance</h4>
    <div id='vis'>
      <div id='bars'>

        <div id='balance'>
          <div class='zero'></div>
          <div class='bar-box'>
            <div class='top'></div>
            <div class='mid'></div>
            <div class='bottom'></div>
          </div>
        </div><!-- /#balance -->

        <div id='expenses'>
          <div class='bar-box'>
            <div class='top'></div>
            <div class='mid'></div>
            <div class='bottom'></div>
          </div>
        </div><!-- /#expenses -->

        <div id='purchases'>
          <div class='bar-box'>
            <div class='top'></div>
            <div class='mid'></div>
            <div class='bottom'></div>
          </div>
        </div><!-- /#purchases -->        

      </div><!-- /#bars -->
      <div class='total-number'>$0</div>
      <div class='title'>total</div>
    </div><!-- /#vis -->
  </div><!-- /.content -->