<?xml version="1.0"?>
<asa>
  <!-- ASASettings.config file version info -->
  <!-- Last modified: 12/23/2009 -->
  
  <!-- Timeout for all queries (in Seconds)-->
	<add key="query_timeout" value="1000"/>
	<!-- 
	   Message Logging Parameters 
	   Log_message_path - the path to write received/response messages
	   Log_messages - True to Log all messages, False to not Log messages	  
	   -->
	<add key="Log_message_path" value="C:\temp\messages"/>
	<add key="Log_messages" value="True"/>
	<!-- Enable or disable authorization to use AzMan Policy store-->
	<add key="Enable_ASAFaultHandling" value="false"/>
	<add key="Enable_ClientRequestAudit" value="true"/>
	<add key="Enable_ClientResponseAudit" value="true"/>
	<add key="Enable_ServiceRequestAudit" value="false"/>
	<add key="Enable_ServiceResponseAudit" value="false"/>
    
    <add key="Enable_Authorization" value="true"/>
	<!--<add key="ShellService" value="true" />-->

	<!-- Schema Validation Settings-->
	<add key="Enable_ASAServiceRequestSchemaValidation" value="false"/>
	<add key="Enable_ASAServiceReplySchemaValidation" value="false"/>
  <!--
	<add key="TargetMessageContractSchemasPath" value="\XSD\ASA.Services.PersonManagement.MessageContract.xsd"/>
  -->
	
	<!-- Service Get Operation MaxEntities -->
	<add key="MaxEntities" value="75"/>
</asa>
