<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <configSections>
      <section name="ASADependencies" type="ASA.Web.WTF.configuration.DependencyConfigurationSection, ASA.Web.WTF" />
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
        <!--
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
-->
        <section name="asa" type="System.Configuration.NameValueSectionHandler" />
        <section name="Security" type="System.Configuration.NameValueSectionHandler" />
        <section name="smtpConnection" type="System.Configuration.SingleTagSectionHandler" />
    </configSections>

  <smtpConnection SMTPServer="localhost" SMTPServerPort="25" />
  <ASADependencies>
    <dependencies>
      <add name="securityAdapter" class="ASA.Web.WTF.Integration.MVC3.AsaWebSecurityAdapter, ASA.Web.WTF.Integration" />
      <add name="dataProvider" class="ASA.Web.WTF.Integration.MVC3.AvectraProfileProvider, ASA.Web.WTF.Integration" />
      <add name="wtfEducationProvider" class="ASA.Web.WTF.Integration.MVC3.AvectraProfileProvider, ASA.Web.WTF.Integration" />
      <add name="adConnector" class="ASA.Web.Utility.ActiveDirectory.ADConnector, ASA.Web.Utility" />
      <add name="siteMembership" class="ASA.Web.WTF.SiteMembership, ASA.Web.WTF" />
	  <add name="saltServiceAgent" class="ASA.Web.Services.Proxies.SaltServiceAgent, ASA.Web.Services.Proxies" />
    </dependencies>
  </ASADependencies>
    
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
                <arg key="configType" value="FILE-WATCH" />
                <arg key="configFile" value="~/log4net.config" />
            </factoryAdapter>
        </logging>
    </common>

    <asa configSource="ASASettings.config" />

    <appSettings>
        <!-- LOG4NET internal Logging -->
        <add key="log4net.Internal.Debug" value="true" />

        <!--<add key="CheckIsAuthenticated" value="false"/>-->

        <!-- MOCK SAL -->
        <add key="testing" value="false" />
        <add key="mockObjectDirectory" value="MockObjects" />

        <!-- SAL Services -->
        <add key="startAlertService" value="true" />
		<add key="startContentService" value="true"/>
        <add key="startMembershipService" value="true" />
        <add key="startReminderService" value="true" />
        <add key="startSearchService" value="true" />
        <add key="startSelfReportedService" value="true" />
        <add key="startSurveyService"			value="true"/>
    </appSettings>

    <system.web>
        <httpRuntime maxRequestLength="2147483647" useFullyQualifiedRedirectUrl="true" executionTimeout="14400" enableVersionHeader="false" />
        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages" />
            </namespaces>
        </pages>

        <caching>
            <outputCacheSettings>
                <outputCacheProfiles>
                    <!--<add name="DoNotCache" duration="0" varyByParam="none" />-->
                    <add name="CacheFor60Seconds" duration="60" varyByParam="none" />
                    <add name="CacheForLongTime" duration="3600" varyByParam="none" />
                </outputCacheProfiles>
            </outputCacheSettings>
        </caching>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>
        <customErrors mode="Off" />
        <httpCookies httpOnlyCookies="true" requireSSL="true"/>
        <authentication mode="Forms">
            <forms loginUrl="/Home/RedirectLogOn" timeout="30" cookieless="UseCookies" protection="All" requireSSL="true" />
        </authentication>
    </system.web>
    
    <!-- URL Authorization-->
    <location path="ContentService">
        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
    <location path="SelfReportedService">
      <system.web>
        <authorization>
          <deny users="?" />
        </authorization>
      </system.web>
    </location>
	<location path="AlertService/JustAsk">
        <system.web>
            <authorization>
				<allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="AlertService/SaltLiveEmailUs">
        <system.web>
            <authorization>
				<allow users="*" />
            </authorization>
        </system.web>
    </location>
    <location path="ASAMemberService/CommunityAccountAction">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
    <location path="AlertService">
        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
    <location path="ReminderService">
        <system.web>
            <authorization>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>
	<location path="SurveyService/COL">
	<system.web>
	  <authorization>
		<allow users="*" />
	  </authorization>
	</system.web>
	</location>
	<location path="SurveyService/JSI">
		<system.web>
		  <authorization>
			<allow users="*" />
		  </authorization>
		</system.web>
	</location>
	<location path="SurveyService/JVQR">
		<system.web>
		  <authorization>
			<allow users="*" />
		  </authorization>
		</system.web>
	</location>
	<location path="SurveyService">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
  <location path="ASAMemberService/RequestToken">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
    <location path="ASAMemberService/ForgotPassword">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
	</location>
  <location path="ASAMemberService/PreRegistration">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
    <location path="ASAMemberService/GetMemberQuestionAnswer">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ASAMemberService">
        <system.web>
            <authorization>
              <allow verbs="PUT" users="?"/>
                <deny users="?" />
            </authorization>
        </system.web>
    </location>

    <system.serviceModel>

      <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

      <behaviors>
        <serviceBehaviors>
          <behavior name="">
            <serviceMetadata httpGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="false" />
          </behavior>
        </serviceBehaviors>
      </behaviors>

      <bindings>
        <basicHttpBinding>
          <binding name="SaltServicesBindingConfiguration_ISaltService"
                            closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00"
                            sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false"
                            hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647"
                            maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                            useDefaultWebProxy="true">
            <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                  maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
            <security mode="None">
              <transport clientCredentialType="None" proxyCredentialType="None"
                    realm="" />
              <message clientCredentialType="UserName" algorithmSuite="Default" />
            </security>
          </binding>
        </basicHttpBinding>
      </bindings>

      <client configSource="client.config" />

      <standardEndpoints>
        <webHttpEndpoint>
          <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" />
        </webHttpEndpoint>
      </standardEndpoints>

    </system.serviceModel>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <security>
            <requestFiltering>
                <verbs>
                    <add verb="DELETE" allowed="true" />
                    <add verb="PUT" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>
    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
