<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ASADependencies" type="ASA.Web.WTF.configuration.DependencyConfigurationSection, ASA.Web.WTF" />
  </configSections>

  <ASADependencies>
    <dependencies>
      <add name="securityAdapter" class="ASA.Web.WTF.Integration.MVC3.AsaWebSecurityAdapter, ASA.Web.WTF.Integration" />
      <add name="dataProvider" class="ASA.Web.WTF.Integration.MVC3.AvectraProfileProvider, ASA.Web.WTF.Integration" />
      <add name="wtfEducationProvider" class="ASA.Web.WTF.Integration.MVC3.AvectraProfileProvider, ASA.Web.WTF.Integration" />
      <add name="siteMembership" class="ASA.Web.WTF.SiteMembership, ASA.Web.WTF" />
      <add name="siteMember" class="ASA.Web.WTF.SiteMember, ASA.Web.WTF" />
      <add name="saltServiceAgent" class="ASA.Web.Services.Proxies.SaltServiceAgent, ASA.Web.Services.Proxies" />
    </dependencies>
  </ASADependencies>
</configuration>