@{
    ViewBag.Title = "Help";
}

<h2>About ADTool</h2>
<p>
     1) ADTool allows users to Create, Update, Deactivate users in Active Dirtectory to test Ad Adapter Avectra's iWeb Functionality
	 <br>
	 2) Please click Validate, Create or Deactivate Ad User to test AD Adapter.
</p>
