# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Two spaces in web.config, web.*.config, and web.config.template
[web.config]
indent_size = 2
[web.*.config]
indent_size = 2
[web.config.template]
indent_size = 2
