<h2>Review your favorite plans</h2>
<div class="divider"></div>
<div class="description">Take a moment to review your favorite plans. We’ll have all the info you need on them when you’re done.</div>
<div class="table-container">
	<div class="table">
		<div class="thead">
			<div class="tr clearfix">
				<div class="th first">&nbsp;</div>
			</div>
		</div>
		<div class="tbody">
			<div class="tr clearfix">
				<div class="td first total-repaid"><div>Total repaid</div></div>
			</div>
			<div class="tr clearfix">
				<div class="td first total-repayment"><div>Total repayment period</div></div>
			</div>
			<div class="tr clearfix">
				<div class="td first total-interest"><div>Total interest paid</div></div>
			</div>						
			<!--<div class="tr clearfix">
				<div class="td first sub">Interest accumulated while in deferment</div>
			</div>-->
			<div class="tr clearfix">
				<div class="td first monthly-payment">Monthly payment</div>
			</div>										
			<div class="tr clearfix">
				<div class="td first sub">Monthly payment (1–2 years)</div>
			</div>
			<div class="tr clearfix">
				<div class="td first sub">Monthly payment (3–5 years)</div>
			</div>										
			<div class="tr clearfix">
				<div class="td first sub">Monthly payment (6–10 years)</div>
			</div>					
			<div class="tr clearfix">
				<div class="td first sub">Monthly payment (11–15 years)</div>
			</div>					
			<div class="tr clearfix">
				<div class="td first grace-period">Grace period</div>
			</div>					
			<div class="tr clearfix">
				<div class="td first deferment">Available deferment<strong>*</strong></div>
			</div>					
			<div class="tr last clearfix">
				<div class="td first forbearance">Available forbearance<strong>*</strong></div>
			</div>					
		</div>
	</div>
	
	<br />
	<br />
	<p class="disclaimer">
	  <strong>*</strong>These can vary by loan type and servicer
	</p>
</div><!--/.table-container-->

