<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="ASALogging" type="ASA.Web.Logging.configuration.ASALogging, ASA.Web.Logging" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
   <ASALogging xmlns="http://schemas.asa.org/Web/Logging">
    <loggingProvider type="ASA.Web.Logging.Log4NetLogger, ASA.Web.Logging" />
  </ASALogging>

  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\Logs\ASAIDP.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="30" />
      <maximumFileSize value="5mb" />
      <rollingStyle value="Date" />
      <staticLogFileName value="false" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss.fff} | %timestamp | %w [%2thread] %-5level | %-50.50logger %message %newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
		<levelMin value="@log4netLevelMin@"/>
        <levelMax value="@log4netLevelMax@"/>
      </filter>
    </appender>
  </log4net>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="partnerConfigPath" value="@idp.SPDefinitionLocation@" />
    <add key="pathGetMember" value="https://@idp.SALTsiteURL@/api/ASAMemberService/GetMember/Individual" />
	<add key="pathLogout" value="https://@idp.SALTsiteURL@/Account/LogOff"/>
	<add key="CoursesServiceUrl" value="@idp.CoursesServiceUrl@"/>
	<add key="CoursesServiceToken" value="@idp.CoursesServiceToken@"/>
	<add key="CoursesList" value="@idp.CoursesList@"/>
	<add key="CommunityDefaultUserName" value="@idp.CommunityDefaultUserName@"/>
  </appSettings>
  @ProxySettings@
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="https://@idp.SALTsiteURL@/Home/RedirectLogOn?domain=@idp.siteurl@:@idp.port@" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>

    <machineKey decryption="AES" decryptionKey="DE645439244BC216DDD770368E706D9CC846421A82E5C97A" validation="AES" validationKey="E951424C2646157F974AF44A9BBCF7BDF99C9AD39F4447C19E08D77F30E5AF05F0BA6241BBD6A378323C02584219DF6E2E2562994469430B7F9839E6D630A337" />

  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <defaultDocument>
        <files>
            <remove value="iisstart.htm" />
        </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Content-Security-Policy" value="@ContentSecurityPolicy@"/>
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
            <match serverVariable="RESPONSE_Strict_Transport_Security"
                pattern=".*" />
            <conditions>
                <add input="{HTTPS}" pattern="on" ignoreCase="true" />
            </conditions>
            <action type="Rewrite" value="max-age=31536000" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
