<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <IdentityProvider Name="ASAIDP"
                    Description="ASA Identity Provider"
                    LocalCertificateSubject="@idp.LocalCertificateSubject@"
                    />
  <PartnerServiceProviders>
    <!-- Salesforce -->
    <PartnerServiceProvider Name="https://saml.salesforce.com"
                            Description="Salesforce"
                            WantAuthnRequestSigned="false"
                            SignSAMLResponse="true"
                            SignAssertion="false"
                            EncryptAssertion="false"
                            SignatureMethod="http://www.w3.org/2000/09/xmldsig#rsa-sha1"
                            AssertionConsumerServiceUrl="https://login.salesforce.com"/>
  <PartnerServiceProvider Name="https://saml.salesforce.com/stg"
                            Description="Salesforce"
                            WantAuthnRequestSigned="false"
                            SignSAMLResponse="true"
                            SignAssertion="false"
                            EncryptAssertion="false"
                            SignatureMethod="http://www.w3.org/2000/09/xmldsig#rsa-sha1"
                            AssertionConsumerServiceUrl="https://login.salesforce.com"/>
    <PartnerServiceProvider Name="https://saml.salesforce.com/dev"
                            Description="Salesforce"
                            WantAuthnRequestSigned="false"
                            SignSAMLResponse="true"
                            SignAssertion="false"
                            EncryptAssertion="false"
                            SignatureMethod="http://www.w3.org/2000/09/xmldsig#rsa-sha1"
                            AssertionConsumerServiceUrl="https://login.salesforce.com"/>
    <PartnerServiceProvider Name="https://saml.salesforce.com/pdv1"
                            Description="Salesforce"
                            WantAuthnRequestSigned="false"
                            SignSAMLResponse="true"
                            SignAssertion="false"
                            EncryptAssertion="false"
                            SignatureMethod="http://www.w3.org/2000/09/xmldsig#rsa-sha1"
                            AssertionConsumerServiceUrl="https://login.salesforce.com"/>
    <PartnerServiceProvider Name="https://saml.salesforce.com/pdv2"
                            Description="Salesforce"
                            WantAuthnRequestSigned="false"
                            SignSAMLResponse="true"
                            SignAssertion="false"
                            EncryptAssertion="false"
                            SignatureMethod="http://www.w3.org/2000/09/xmldsig#rsa-sha1"
                            AssertionConsumerServiceUrl="https://login.salesforce.com"/>
      <PartnerServiceProvider Name="https://saml.salesforce.com/pdv3"
                            Description="Salesforce"
                            WantAuthnRequestSigned="false"
                            SignSAMLResponse="true"
                            SignAssertion="false"
                            EncryptAssertion="false"
                            SignatureMethod="http://www.w3.org/2000/09/xmldsig#rsa-sha1"
                            AssertionConsumerServiceUrl="https://login.salesforce.com"/>
    <PartnerServiceProvider Name="https://saml.salesforce.com/pdv4"
                            Description="Salesforce"
                            WantAuthnRequestSigned="false"
                            SignSAMLResponse="true"
                            SignAssertion="false"
                            EncryptAssertion="false"
                            SignatureMethod="http://www.w3.org/2000/09/xmldsig#rsa-sha1"
                            AssertionConsumerServiceUrl="https://login.salesforce.com"/>
    <PartnerServiceProvider Name="https://saml.salesforce.com/pdv5"
                            Description="Salesforce"
                            WantAuthnRequestSigned="false"
                            SignSAMLResponse="true"
                            SignAssertion="false"
                            EncryptAssertion="false"
                            SignatureMethod="http://www.w3.org/2000/09/xmldsig#rsa-sha1"
                            AssertionConsumerServiceUrl="https://login.salesforce.com"/>
    <PartnerServiceProvider Name="https://saml.salesforce.com/pdv6"
                            Description="Salesforce"
                            WantAuthnRequestSigned="false"
                            SignSAMLResponse="true"
                            SignAssertion="false"
                            EncryptAssertion="false"
                            SignatureMethod="http://www.w3.org/2000/09/xmldsig#rsa-sha1"
                            AssertionConsumerServiceUrl="https://login.salesforce.com"/>
    <PartnerServiceProvider Name="@idp.MoodlePSPName@"
							PartnerCertificateFile="@idp.MoodlePSPCertificateFile@" 
                            Description="RemoteLearner"
                            WantAuthnRequestSigned="false"
                            SignSAMLResponse="true"
                            SignAssertion="false"
                            EncryptAssertion="false"
                            SignatureMethod="http://www.w3.org/2000/09/xmldsig#rsa-sha1"
                            AssertionConsumerServiceUrl="@idp.MoodlePSPAssertionConsumerServiceUrl@"
							SingleLogoutServiceUrl="@idp.MoodlePSPSingleLogoutServiceUrl@" />
	<PartnerServiceProvider Name="https://sso.online.tableau.com/public/sp/metadata?alias=2a64c77a-d7c0-4145-8f8c-6e3df53741d5" 
							PartnerCertificateFile="Certificates/tableau_saml_sp_certificate.cer" 
							SingleLogoutServiceUrl="https://sso.online.tableau.com/public/sp/SLO?alias=2a64c77a-d7c0-4145-8f8c-6e3df53741d5" 
							SingleLogoutServiceBinding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" 
							NameIDFormat="urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress" 
							AssertionConsumerServiceUrl="https://sso.online.tableau.com/public/sp/SSO?alias=2a64c77a-d7c0-4145-8f8c-6e3df53741d5" 
							WantAuthnRequestSigned="true" 
							SignatureMethod="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256"
							SignAssertion="true" />
	<PartnerServiceProvider Name="https://community.saltmoney.org" 
							PartnerCertificateFile="Certificates/Jive_Software_OU=Engineering_O=Jive_Software_L=Portland_S=OR_C=US.cer" 
							NameIDFormat="urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress" 
							AssertionConsumerServiceUrl="https://community.saltmoney.org/saml/sso" 
							WantAuthnRequestSigned="true" 
							SignAssertion="true" />
  </PartnerServiceProviders>
</SAMLConfiguration>
