<div class="section">
	<p><strong>Lower your interest rate</strong> by making your minimum payments on time every month, you can earn a small decrease in your interest rate. This is usually available after twelve, consecutive, on-time payments.</p>
	<a class="compare" href="#">Compare this plan with others</a>
	
	<p>Try lowering your rate to
	
  	<span class="modify-interest">
      <a href="#" id="interest-less">less</a>
      <input type="text" id="better-interest" value="" />
      <a href="#" id="interest-more">more</a>
    </span>
  	
	</p>
	<a href="#" class="update-graph">Update Graph</a>
</div>
<div class="section last">
	<p><strong>Things to know</strong></p> 
	<p>-Not all servicers/lenders offer interest rate reductions. Check with yours to see if it's available!</p>
	<p>-Sometimes you can get a lower interest rate by signing up for auto-debit - or having your payments automatically taken out of your bank account. See if your servicer offers this option.</p>
</div>