<div id="compare-overlay">
  <div class="overlay-content">
  	<div class="title">
    	<h1>Compare plans</h1>
    	<ul>
    		<li>
    			<a class="print" href="#">
    				Print
    			</a>
    		</li>
    		<li>
    			<a class="email" id="email" href="#">
    				Email
    			</a>
    		</li>
    	</ul>
    </div>

    <div class="overlay-body clearfix">
    	<div class="table-container">
			<div class="table">
				<div class="thead">
					<div class="tr clearfix">
						<div class="th first">&nbsp;</div>
						<div class="th"><div>Standard payment</div></div>
						<div class="th"><div><select class="dropdown" name="plan-selector-1" tabindex="1"></select></div></div>
						<div class="th"><div><select class="dropdown" name="plan-selector-2" tabindex="2"></select></div></div>
					</div>
				</div>
				<div class="tbody">
					<div class="tr clearfix">
						<div class="td first total-repaid"><div>Total repaid</div></div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
					</div>
					<div class="tr clearfix">
						<div class="td first total-repayment"><div>Total repayment period</div></div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
					</div>
					<div class="tr clearfix">
						<div class="td first total-interest"><div>Total interest paid</div></div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
					</div>						
					<!--<div class="tr clearfix">
						<div class="td first sub">Interest accumulated while in deferment</div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
					</div>-->
					<div class="tr clearfix">
						<div class="td first monthly-payment">Monthly payment</div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
					</div>										
					<div class="tr clearfix">
						<div class="td first sub">Monthly payment (1–2 years)</div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
					</div>
					<div class="tr clearfix">
						<div class="td first sub">Monthly payment (3–5 years)</div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
					</div>										
					<div class="tr clearfix">
						<div class="td first sub">Monthly payment (6–10 years)</div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
					</div>					
					<div class="tr clearfix">
						<div class="td first sub">Monthly payment (11–15 years)</div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
					</div>					
					<div class="tr clearfix">
						<div class="td first grace-period">Grace period</div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
					</div>					
					<div class="tr clearfix">
						<div class="td first deferment">Available deferment<strong>*</strong></div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
					</div>					
					<div class="tr last">
						<div class="td first forbearance">Available forbearance<strong>*</strong></div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
						<div class="td"><div>&nbsp;</div></div>
					</div>					
				</div>
			</div>
		</div><!--/.table-container-->
    </div>

	<p class="disclaimer">
	  <strong>*</strong>These can vary by loan type and servicer
	</p>
  </div>
  <div class="buttons clearfix">
    <a class="ok" href="#" title="Okay, got it">Okay, got it</a>
  </div>
</div>

<div id="qualify-overlay">
  <div class="overlay-content">
    <div class="overlay-body clearfix">
    	<h1>Here's how it usually works</h1>
    	<div class="center-content clearfix">
    	 <div class="left-column column">
      	 <h3>Step 1</h3>
      	 <p id="step1" />
    	 </div>
    	 <div class="center-column column">
      	 <h3>Step 2</h3>
      	 <p id="step2" />
    	 </div>
    	 <div class="right-column column">
      	 <h3>Step 3</h3>
      	 <p>While you await for approval, you must continue payments!</p>
    	 </div>
    	</div><!-- /center-content -->
    	<div class="bottom">
    	 <p>The process and requirements are different for each loan, so be sure to ask your loan servicer for more details.</p>
    	</div>
    </div>
  </div>
   <div class="buttons clearfix">
    <a class="ok" href="#" title="Okay, got it">Okay, got it</a>
  </div>
</div>