<div class="section">
  <p><strong>Extended repayment</strong> stretches your repayment period from 10 years to as long as 25 years. This lowers your payments, but it increases the total interest you pay over the life of the loan - making your loan more expensive.</p>
	<a class="compare" href="#">Compare this plan with others</a>
	<p>
	 <span class="left">I need to extend my repayment to</span>
	 <select tabindex="1" name="years" id="years">
	   <option value="10">10</option>
	   <option value="11">11</option>
	   <option value="12">12</option>
	   <option value="13">13</option>
	   <option value="14">14</option>
	   <option value="15">15</option>
	   <option value="16">16</option>
	   <option value="17">17</option>
	   <option value="18">18</option>
	   <option value="19">19</option>
	   <option value="20">20</option>
	   <option value="21">21</option>
	   <option value="22">22</option>
	   <option value="23">23</option>
	   <option value="24">24</option>
	   <option value="25">25</option>
	 </select> 
	  years</p>
	  <p><a href="#" class="update-graph">Update Graph</a></p>
</div>
<div class="section last">
	<p><strong>Things to know</strong></p> 
	<p>-You must have at least $30,000 in federal student loans in either the Direct Loan or FFELP program to select this plan.</p>
	<p>-You don’t have to provide your income statements or tax information.</p>
	<p>-You may be able to request this plan from your servicer over the phone.</p>
</div>