<div class="section">
	<p>If you don’t qualify for deferment, you could request forbearance instead.  Think of <strong>forbearance as a last resort</strong>. While you take a break on payments, both subsidized and unsubsidized loans accrue interest. That interest is added onto your principal amount at the end of the forbearance period.</p>
	<a class="compare" href="#">Compare this plan with others</a>
	<p class="clearfix">
	 <span class="left">How many months do you need? </span>
	 <select tabindex="1" name="forbearanceMonths" id="forbearanceMonths">
	   <option value="0">0</option>
	   <option value="1">1</option>
	   <option value="2">2</option>
	   <option value="3">3</option>
	   <option value="4">4</option>
	   <option value="5">5</option>
	   <option value="6">6</option>
	   <option value="7">7</option>
	   <option value="8">8</option>
	   <option value="9">9</option>
	   <option value="10">10</option>
	   <option value="11">11</option>
	   <option value="12">12</option>
	 </select> 
  </p>
	 
	
	<a href="#" class="update-graph">Update Graph</a>
</div>
<div class="section">
	<p><strong>Things to know</strong></p> 
	<p>-Make sure you’ve looked at all your deferment options before applying for forbearance.</p>
</div>
<div class="section last">
  <p><strong>Learn more</strong></p>
  <p>-<a href="https://www.saltmoney.org/content/media/Article/postponing-repayment-with-forbearance/_/R-101-2682">Find out more about forbearance, and how it can affect you.</a></p>
</div>