<div class="section">
  <p><strong>Graduated payment</strong> is great if money is tight now, but your income will increase over time. Graduated payments start small and then slowly increase, so you still pay your loan back within 10 years.</p>
	<a class="compare" href="#">Compare this plan with others</a>
</div>
<div class="section last">
	<p><strong>Things to know</strong></p> 
	<p>-Your payments are low in the beginning.</p>
	<p>-Payments later on will be higher than the standard plan payments.</p>
	<p>-You may be able to request this plan from your servicer over the phone.</p>
	<p>-Graduated payments may go from a low, interest-only amount to up to three times the amount of your lowest payment over the life of the loan. Using this option will add a significant amount of interest to what you owe.</p>
</div>