<div class="section">
	<p>You may qualify for an <strong>unemployment deferment </strong>if you’re unemployed and you can prove that you’re looking for permanent, full-time work.</p>
	<a class="compare" href="#">Compare this plan with others</a>
	<p class="clearfix">
		<span class="left">I want to defer my loans for</span>	 
		<select tabindex="1" name="deferment-hardship-months" id="deferment-hardship-months">
		   <option value="0">0</option>
		   <option value="1">1</option>
		   <option value="2">2</option>
		   <option value="3">3</option>
		   <option value="4">4</option>
		   <option value="5">5</option>
		   <option value="6" selected="selected">6</option>
		   <option value="7">7</option>
		   <option value="8">8</option>
		   <option value="9">9</option>
		   <option value="10">10</option>
		   <option value="11">11</option>
		   <option value="12">12</option>
		</select>  
		months
	</p>
	<!-- <p class="clearfix"><span class="left">Starting in</span> <select id="hardship-months" name="hardship-months" class="dropdown" tabindex="1"></select><select id="hardship-years" name="hardship-years" class="dropdown" tabindex="2"></select></p>-->
	<!--<p>Pay a little more each month? <input type="text" class="pay-more" id="pay-more" value="" placeholder="$0" />-->
	
	<a href="#" class="update-graph">Update Graph</a>
</div>
<div class="section last">
	<p><strong>Learn more</strong></p> 
	<p>-<a href="https://www.saltmoney.org/content/media/Form/deferment-request-unemployment/_/R-101-2750">Get your Unemployment Deferment form</a></p>
	<p>-<a href="https://www.saltmoney.org/content/media/Article/postponing-repayment-with-deferment/_/R-101-2678">Learn about other ways to postpone payments.</a></p>
</div>