<div class="section">
	<p><strong>In-school deferment</strong> Deferment pauses your payments for a while, if you qualify. On certain loans, the federal government even pays accruing interest. If you return to school after being unenrolled for awhile, this deferment will usually be automatically applied to your existing loans.
	</p>
	<p>
		<strong>
			<small>* Subsidized loans are being used for these calculations </small>
		</strong>
	</p>
	

	<a class="compare" href="#">Compare this plan with others</a>
	<p class="clearfix">
		<span class="left">I want to defer my loans for</span>	 
		<select tabindex="1" name="deferment-months" id="deferment-months">
		   <option value="0">0</option>
		   <option value="1">1</option>
		   <option value="2">2</option>
		   <option value="3">3</option>
		   <option value="4">4</option>
		   <option value="5">5</option>
		   <option value="6" selected="selected">6</option>
		   <option value="7">7</option>
		   <option value="8">8</option>
		   <option value="9">9</option>
		   <option value="10">10</option>
		   <option value="11">11</option>
		   <option value="12">12</option>
		</select>  
		months
	</p>
	<!--<p class="clearfix"><span class="left">Starting in</span><select id="deferment-months" name="deferement-months" class="dropdown" tabindex="1"></select><select id="deferment-years" class="dropdown" tabindex="2"></select></p>-->
	<a href="#" class="update-graph">Update Graph</a>
</div>
<div class="section last">
	<p><strong>Things to know</strong></p> 
	<p>-Usually, your school will tell your servicer that you are eligible for this deferment. Double-check that it's been applied if you've taken time off from school or are transferring between schools.This deferment can be applied while you are attending a graduate program.</p>
</div>