<div class="section">
  <p><strong>Income-sensitive repayment</strong> lets you select a monthly payment amount ranging from 4%–25% of your monthly income.</p>
	<a class="compare" href="#">Compare this plan with others</a>
	<p>How are my loans affected if I start out making <input type="text" id="is-salary" value="" maxlength="7" disabled/> per year?</p>
	<p>
	Paying 
	<span class="interest">
      <input type="text" id="income" value="4" disabled/>
    </span>
   of your income.
	</p>
	<a href="#" class="update-graph">Update Graph</a>
</div>
<div class="section">
	<p><strong>Things to know</strong></p> 
	<p>-ISR will only lower your monthly payments for 5 years. After that, you’ll need to get a new repayment plan.</p>
	<p>-Income-sensitive repayment is only offered for loans in the Federal Family Education Loan Program, which stopped issuing loans in 2010. If you have borrowed any loans after that time, you should look into Income-based repayment. </p>
</div>
<div class="section last">
  <p><strong>Learn more</strong></p>
  <p>-<a href="https://www.saltmoney.org/content/media/Article/using-income-sensitive-repayment/_/R-101-2671">Details about ISR.</a></p>
  <p>-<a href="https://www.saltmoney.org/content/media/Form/ibr-icr-isr-pay-as-you-earn-application/_/R-101-2753">You'll need to get a form from your servicer to apply.</a></p>
</div>