<div class="section">
  <p><strong>Income-based repayment</strong> might be a good plan if you have high student loan debt, a low income, or both. Under this repayment schedule, your loan payments will be capped at 15% of your discretionary income.</p>
	<a class="compare" href="#">Compare this plan with others</a>
	<p>How are my loans affected if I start out making <input type="text" id="ib-salary" value="" maxlength="7" disabled/> per year?</p>
	<p>How many people do you provide for financially? <input type="text" id="dependents" value="" maxlength="2" disabled/></p>
</div>
<div class="section">
	<p><strong>Things to know</strong></p> 
	<p>- In most cases, Perkins and Parent PLUS loans are not eligible for Income Based Repayment.</p>
	<p>-You will need to re-apply every year</p>
	<p>-Your monthly payment may change if your income changes.</p>
	<p>-Income-based repayment is one of a few plans that can adjust your payment based on your income. Click <a href="https://www.saltmoney.org/content/media/Article/repay-your-way/_/R-101-2724">here </a>to get the information on all of the different plans .</p>
</div>
<div class="section last">
  <p><strong>Learn more</strong></p>
  <p>-<a href="https://www.saltmoney.org/content/media/Article/using-income-based-repayment-and-pay-as-you-earn/_/R-101-2562">More details about IBR.</a></p>
  <p>-<a href="https://www.saltmoney.org/content/media/Form/ibr-icr-isr-pay-as-you-earn-application/_/R-101-2753">Download the IBR application form</a></p>
</div>

