<div class="section">
	<p><strong>Paying more than the minimum</strong> each month is a great way to pay off your debt as quickly as possible.</p>
	<a class="compare" href="#">Compare this plan with others</a>
	<p>I can pay <input type="text" id="pay-more" value="" placeholder="$" maxlength="7" /> more each month.</p>
	<a href="#" class="update-graph">Update Graph</a>
</div>
<div class="section last">
	<p><strong>Things to know</strong></p> 
	<p>-Gets loan out of the way faster.</p>
	<p>-Reduces total interest paid.</p>
</div>