<div class="section">
	<p><strong>Interested in paying off your debt</strong> sooner? Play around with the timeframe to see how your minimum payment is affected.</p>
	<a class="compare" href="#">Compare this plan with others</a>
	<p>
	 <span class="left">I want to pay back my loan in </span>
	 <select tabindex="1" name="set-timeline" id="set-timeline">
	   <option value="1">1</option>
	   <option value="2">2</option>
	   <option value="3">3</option>
	   <option value="4">4</option>
	   <option value="5">5</option>
	   <option value="6">6</option>
	   <option value="7">7</option>
	   <option value="8">8</option>
	   <option value="9">9</option>
	   <option value="10">10</option>
	 </select> 
	 years </p>
	<a href="#" class="update-graph">Update Graph</a>
</div>
<div class="section last">
	<p><strong>Things to know</strong></p> 
	<p>-You can always pay federal student loans off early with no penalties.</p>
	<p>-You can always pay a little more when you have extra money available, and go back to making regular payments when you don't.</p>
</div>