<div class="section">
	<p><strong>Standard repayment</strong>  splits what a borrower owes, plus interest, into 120 equal payments over 10 years. Your loans will be put in standard repayment unless you request a different payment plan. Its 10-year repayment period is the shortest of any repayment plan—so it creates the highest payments.</p>
	<a class="compare" href="#">Compare this plan with others</a>
</div>
<div class="section last">
	<p><strong>Things to know</strong></p> 
	<p>- If you can’t make your payments on time, you could be assessed late fees, and receive negative marks on your credit history. </p>
	<p>- Later in this activity, we will discuss several different options that can help if you need lower payments.</p>
	<p>- $50 is the minimum monthly payment for standard repayment.
	</p>
</div>
<p class="sub"></p>
