@model ADTool.Models.LogOnModel
@{
	ViewBag.Title = "Deactivate";
}
<h2>
	Deactivate User In AD</h2>
@using (Html.BeginForm())
{
	<p>
		@Html.Label("", "Enter Email Address")
		@Html.TextBoxFor(m => m.EmailAddress)
	</p>

	<p>
		<input type="submit" value="Deactivate" />
	</p>
}
