            <div class="left">
              <div id="total">
                <div class="value">$<%= amount %></div>
                <div class="value-message"><%= description %></div>
              </div>
              <div id="up-next">
                <div class="first">Up next:</div>
                <div class="second"><%= subtitle %></div>
              </div>
            </div>
            <div class="right clearfix">
              <div class="error-msg">
                Oops, be sure to fill out all required fields.
              </div>
              <div class="button-wrapper">
                <a class="right-button" href="<%= next %>"><%= nextButton %></a>
                <a class="left-button" href="<%= previous %>"></a>
              </div>
            </div>
            <div class="top"></div>