<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CoursesServiceUrl" value="https://oldmoney.remote-learner.net/webservice/rest/server.php"/>
    <add key="CoursesServiceToken" value="f6ec5977d4dede7f36f87fbc35780097"/>
    <add key="CoursesList" value="26|Budgeting|Budgeting|101-25847|32|Credit and Debt Management|Credit &amp; Debt Mgmt|101-26024|39|Educational Planning|Edu Planning|101-26137|43|Employment|Employment|101-26158|38|Fundamentals|Fundamentals|101-26164|41|Internships, Incomes, and Careers|Internships &amp;  Careers|101-26170|47|Money Management|Money Mgmt|101-26177|36|Risk Management|Risk Mgmt|101-26183|34|Saving and Investing|Saving &amp; Investing|101-26189|31|Student Loan Repayment|Student Loan Repayment|101-26195|27|Student Loans|Student Loans|101-26201|37|Taxes|Taxes|101-26207"/>
  </appSettings>
</configuration>